__pycache__/click_app.cpython-310.pyc
__pycache__/
convscript/__pycache__/__init__.cpython-310.pyc
convscript/__pycache__/audio_utils.cpython-310.pyc
convscript/__pycache__/conversation_transcription.cpython-310.pyc
convscript/__pycache__/model_pyannote.cpython-310.pyc
convscript/__pycache__/model_whisper.cpython-310.pyc
convscript/__pycache__/path.cpython-310.pyc
convscript/__pycache__/pyannote.cpython-310.pyc
convscript/__pycache__/whisper.cpython-310.pyc
src.egg-info/dependency_links.txt
src.egg-info/entry_points.txt
src.egg-info/PKG-INFO
src.egg-info/requires.txt
src.egg-info/SOURCES.txt
src.egg-info/top_level.txt
test/__pycache__/test_transcription.cpython-310-pytest-7.2.1.pyc
test/__pycache__/test_url_wav.cpython-310-pytest-7.2.1.pyc
test/__pycache__/test_utils.cpython-310-pytest-7.2.1.pyc
test/__pycache__/test_whisper.cpython-310-pytest-7.2.1.pyc
.env

data/